.container {
  min-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.filmNode {
  background-color: var(--color-background-film-node);
  border: 2px solid var(--color-border-film-node);
  border-radius: 5px;
}

.starshipNode {
  background-color: var(--color-background-starship-node);
  border: 2px solid var(--color-border-starship-node);
  border-radius: 5px;
}

@media (max-width: 600px) {
  .container {
    min-width: 350px;
  }
}
